@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600;700;900&family=Indie+Flower&family=Parisienne&family=Reenie+Beanie&display=swap");
/* font-family: 'Chivo Mono', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Reenie Beanie', cursive; */
* {
  max-width: 100%;
}

.navbar {
  z-index: 999;
  background: rgba(254, 254, 254, 0.536);
  font-size: 26px;
}
.navbar a {
  color: black;
}
.navbar .nav-item a:hover {
  color: #001219;
}

.landing {
  background-image: url("./Compressed/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-msg {
  background: rgba(255, 255, 255, 0.7);
  width: 60%;
}

.onas {
  gap: 20px !important;
  flex-wrap: nowrap;
}

.pad-top-100 {
  padding-top: 100px;
}

.pad-top-200 {
  padding-top: 200px;
}

.image-btw img {
  width: 50%;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.violet {
  color: #cdb4db;
}

.orange {
  color: #ee9b00;
}

.blue {
  color: #a2d2ff;
}

.pink {
  color: #ffafcc;
}

.black {
  color: #001219;
}

.red {
  color: #9b2226;
}

.box-shadow-1 {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 1px, rgba(255, 255, 255, 0.25) 0px 1px 1px inset;
}

.box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.cp {
  font-family: "Parisienne", cursive;
}

.ms {
  font-family: "Chivo Mono", monospace;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 768px) {
  .landing {
    justify-content: flex-start;
  }
  .landing-msg {
    padding-top: 50%;
    width: 90%;
  }
  .landing-msg h1 {
    font-weight: 900;
    font-size: 50px;
  }
  .landing-msg h2 {
    font-size: 30px;
  }
  .oferta {
    padding-top: 100px;
  }
  .ofer-m {
    gap: 20px;
  }
  .footer {
    font-size: 15px !important;
  }
  .onas {
    gap: 20px !important;
    flex-wrap: wrap;
  }
  .image-btw img {
    width: 77%;
  }
}